{% extends 'baseadmin.html.twig' %}



{% block container %}
<div class="pcoded-content">
    <div class="pcoded-inner-content">

        <div class="main-body">
            <div class="page-wrapper">

                <div class="page-header">
                    <div class="row align-items-end">
                        <div class="col-lg-8">
                            <div class="page-header-title">
                                <div class="d-inline">

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="page-header-breadcrumb">

                            </div>
                        </div>
                    </div>
                </div>


                <div class="page-body">
                    <div class="row">
                        <div class="col-sm-12">

                            <div class="card">
                                <div class="card-header table-card-header">
                                    <h4>Event list</h4>
                                </div>
                                <div class="card-block">
                                    <div class="dt-responsive table-responsive">
                                        <table id="basic-btn" class="table table-striped table-bordered nowrap">
                                            <thead>
                                            <tr>

                                                <th>Nom</th>
                                                <th>Sujet de l'évènement</th>
                                                <th>Nbr des particpant</th>
                                                <th>Date de l'évènement</th>
                                                <th>Delete</th>
                                                <th>Edit</th>
                                                <th>Add sponsor</th>
                                                <th>Detail</th>

                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for event in evenements %}
                                                <tr>

                                                    <td>{{ event.nom }}</td>
                                                    <td>{{ event.type }}</td>
                                                    <td>{{ event.nbrpart }}</td>
                                                    <td>{% if event.dateevent %}{{ event.dateevent|date('Y-m-d') }}{% endif %}</td>


                                                    <td>
                                                        <a href="{{ path('delete', { 'id': event.id }) }}" class="btn btn-grd-danger" >Delete</a>

                                                    </td>
                                                    <td>
                                                        <a href="{{ path('evenement_edit', { 'id': event.id }) }}" class="btn btn-grd-success" > Edit</a>

                                                    </td>
                                                    <td>

                                                    </td>

                                                    <td> <a href="{{ path("afficher",{'id':event.id}) }}"> Afficher</a>  </td>


                                                </tr>
                                            {% endfor %}


                                            </tbody>

                                        </table>

                                        <ul>
                                            <li>
                                                <a href="{{ path('evenement_new') }}">Create a new event</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>



                            {% endblock %}
