{% extends 'baseadmin.html.twig' %}

{% block body %}
    <h1>Sponsor</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sponsor.id }}</td>
            </tr>
            <tr>
                <th>Nomsponsor</th>
                <td>{{ sponsor.nomsponsor }}</td>
            </tr>
            <tr>
                <th>Typeprod</th>
                <td>{{ sponsor.typeprod }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('sponsor_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('sponsor_edit', { 'id': sponsor.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
